.nav > .links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #023047;
    display: inline-block;
}
.nav a + a:before{
  
  content: " | ";
  padding: 0 10px;
}
.icon-container{
  display: none;
}
.navlist{
  flex-direction: row !important;
}
.links#left{
  display: inline !important;
  padding: 0;
  height: 100%;
}
.links#right{
  display: inline;
  position: absolute;
  right: 20px;
}
.links#left a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  
  float: left;
}
.links#left a:before{
  content: " | ";
  padding: 0 10px;
}

.menu{
  display: none;
}
.nav > .home{
  display:none;
}
.container .info{
  display: flex;
  margin: 5px;
  padding: 10px;
  gap: 15px;
}
.info .text{
  width:60%;
  border-right: #023047 solid 2px
}
.info .list{
  width: 40%;
}
.sideContainer{
  width: 300px;
}