.nav > #myLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #023047;
    display: inline-block;
}
.icon-container{
  display: none;
}
.navlist{
  flex-direction: row !important;
}
.nav #myLinks{
  display: inline !important;
  padding: 0;
  height: 100%;
  margin-top: 35px;
}
  
#myLinks a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  
  border-left: solid white 2px;
  float: left;
}

.menu{
  display: none;
}
.nav > .home{
  display:none;
}
#myLinks a:hover {
  background-color: #022030;
}
.container .info{
  display: flex;
  margin: 5px;
  padding: 10px;
  gap: 15px;
}
.info .text{
  width:60%;
  border-right: #023047 solid 2px
}
.info .list{
  width: 40%;
}