.nav > .links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #023047;
    display: inline-block;
}
.nav a + a:before{
  
  content: " | ";
  padding: 0 10px;
}
.icon-container{
  display: none;
}
.navlist{
  flex-direction: row !important;
}
.links#left{
  display: inline !important;
  padding: 0;
  height: 100%;
}
.links#right{
  display: inline;
  position: absolute;
  right: 20px;
}
.links#left a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  
  float: left;
}
.links#left a:before{
  content: " | ";
  padding: 0 10px;
}

.menu{
  display: none;
}
.nav > .home{
  display:none;
}
.container .info{
  display: flex;
  margin: 5px;
  padding: 10px;
  gap: 15px;
}
.info .text{
  width:60%;
  border-right: #023047 solid 2px
}
.info .list{
  width: 40%;
}
.sideContainer{
  width: 300px;
}

/*Forms*/

.form-container{
  background-color:#434252;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
  width:100%;
  height:80vh;
}
.form-box{
  background-color: white;
  border-radius: 10px;
  border: solid #434252 2px;
  padding: 100px;
  width: 275px;
}
.form-box > h1{
  text-align: center;
  margin-bottom: 10px;
}
.form-box, .form-box > form{
  height:auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-box > p{
  margin-top: 10px;
}
.form-box label{
  color: black;
}
form{
  display: flex;
  vertical-align: middle;
}
form > input, form > label{
  width: 100% - 4px;
}
form input{
  height:30px;
  border-radius: 5px;
  border: solid gray 2px;
  padding:2px
}
form input[type="submit"]{
  margin-top: 10px;
}