
/* NAVBAR*/
.nav{
    display: flex;

    width:100%;
    overflow: hidden;
    position: relative; 

    background-color: #282F44;
    border-bottom: solid white 2px;

    height:auto;
}
.navlist{
    display: flex;
    flex-direction: column;
}
.navlist a:hover{
    background-color: #222738;
}
.nav .links{
    display:none;
}
/* .links a.home{
    display:block;
} */
.nav a,div.menu{
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.home{
    vertical-align: center;
}
.nav#admin > .home{
  min-width: 350px;
}
.home a{
    font-size:24px;
    font-weight:bold;
}
.nav a{
  display: flex;
  justify-content:center;
  align-items: center;
}
.icon-container{
    display:block;
    position: absolute;
    right:0;
    top:0;
}

/* MENU ICON */
.menu {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: #282F44;
    
    right: 0;
    top: 0;

    margin: 30px 20px;
}
.bar1, .bar2, .bar3 {
    width: 49px;
    height: 7px;
    background-color: white;
    margin: 6px 0;
}

/* FOOTER */

.footer{
    background-color: #282F44;
}
.footer a{
    
    display: block;
    color: white;

    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
div.footer > p{
    color: white;
    padding: 14px, 16px;
}
.footer{
    text-align: center;
}
/* INDEX */
.container#exchange-rates .grid{
    justify-content: center;
}
.grid .currency{
    padding:10px;
    margin: 10px;
    border: solid white 5px;
    border-radius: 15px;
    background-color:#434252;
    color: white;
    min-height: 150px;
    width: 300px;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.grid .currency h1{
    width: 100%;
    text-align: center;
}

/* USER INDEX */

.welcome-container{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.welcome-container > h1{
    width:100%;
    color: white;
    text-align: center;
    background-color: #222738;
    border: solid white 2px;
    border-left:none; border-right:none;
    padding:5px;
    margin-bottom:20px;
}
/* ACCOUNTS */

.account-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.account-header > h1{
    text-align: center;
    color:white;
    background-color: #222738;
    width:90%;
    border-bottom: solid white 2px;
}
.account form{
    width:100%;
}
.account button{
    width: 100%;
    height: 50px;
    color: white;
    background-color: #222738;
    border:solid white 2px;
    margin: 5px;
}
.account .image-container{
    width: 100%;
    display:flex;
    justify-content: center;
}
.currency-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 90%;
    aspect-ratio: 1.5;
}
.currency-image#GBP{
    background-image: url("../images/uk-flag.webp");
}
.currency-image#USD{
    background-image: url("../images/us-flag.webp");
}

.currency-image#JPY{
    background-image: url("../images/ja-flag.webp");
}

.currency-image#AUD{
    background-image: url("../images/as-flag.webp");
}

.currency-image#EUR{
    background-image: url("../images/eu-flag.webp");
}
.grid{
    width:90vw;
    height:auto;
    margin:5vw;
    background-color: #222738;
    border-radius: 15px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grid > .account{
    padding:10px;
    margin: 10px;
    border: solid white 5px;
    border-radius: 15px;
    background-color:#434252;
    color: white;
    min-height: 150px;
    width: 300px;
    
    display:flex;
    flex-direction: column;
}
.account-info{
    display:flex;
    flex-direction: column;
}
.account-info h1{
    text-align: center;
    border-bottom:solid white 2px;
    margin-bottom: 3px;
}
.account-info p{
    padding:5px;
}
.account#new{
    border: none;
    background-color: #222738;
}
.image-container{
    width:100%;
    height: 100%;
    display:flex;
}
.account#new .new-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 75%;
    aspect-ratio: 1;
    background-image: url("../images/white-plus-image.webp")
}




.banner{
    width:100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}
.banner#index{
    background-image: url("../images/currency-index-image.webp");
}

.banner > h1{
    background-color: #282F44;
    color: white;
    border: solid;
    border-radius: 5%;
    border-color: white;
    padding: 20px;
    text-align: center;
    margin: auto;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: helvetica, arial, sans-serif;
}

/* CONTAINERS */
.container{
    min-height:80vh;
  }
.container > p{
    margin:10px;
}
.lineDivider{
    padding: 10px;  
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    background-color: #282F44;
}
.container ul{
    padding: 16px 14px;
    margin-left: 10px;
}
.container > h2{
    padding: 10px 
}
.container ul > li{
    margin-left: 20px;
}
.list#learning-resources > ul{
    list-style-type:upper-alpha;
    padding: 10px;
    margin-top: 10px;
}
.list#learning-resources > ul  ul{
    list-style-type: lower-roman;
    margin: 10px;
}
div.container{
    background-color: #434252;
}

div.sideContainer{
    display:flex; 
    flex-direction: column;
    size: 100%; 
}
.sideContainer ul{
    list-style-type: none;
    background-color:#434252;
}
.sideContainer li{
    
    background-color: #282F44;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
}

/*Forms*/

.form-container{
    background-color:#434252;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    width:100%;
    height:80vh;
}
.form-box{
    background-color: white;
    border-radius: 10px;
    border: solid #434252 2px;
    padding: 100px;
    width: 250px;
}
.form-box > h1{
    text-align: center;
    margin-bottom: 10px;
}
.form-box, .form-box > form{
    height:auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-box > p{
    margin-top: 10px;
}
.form-box label{
    color: black;
}
form{
    display: flex;
    vertical-align: middle;
}
form#exchange{
    flex-direction: column;
}

.form-group{
    width: 100%;
    display:flex;
    margin-bottom: 5px;
}
.form-group > input, .form-group > label{
    width:50%;
    height: 30px;
}
.form-group > label{
    text-align: right;
    vertical-align: middle;
}
form > input, form > label{
    width: 100% - 4px;
    padding:2px;
}
form input{
    height:30px;
    border-radius: 5px;
    border: solid gray 2px;
}
form .result-box
.error{
    color: red;
}
.success{
    color: green;
}

/*Exchange*/
.container#exchange{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80vh;
}
div#transfer-container{
    padding:10px;
    width: 50%;
    background-color:#282F44;
    color:white;
    border: solid white 2px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
}
div#currency-input{
    margin-bottom:5px;
}
div#currency-output{
    display:flex;
}
.result-box{
    font-size:12px;
    background-color: white;
    width: 50%;
    color:black;
    height:30px;
}
.btn{
    background-color:#222738;
    color: white;
}
.btn:hover{
    background-color:#313747;
}

/* ----------VIEW ACCOUNT PAGE---------- */

.container#view-account, .account-detail{
    color: black;
}
.container > .back-button{
    display: flex;
    width:80%;
    justify-content: start;
}
.container > .back-button > a{
    background-color:#222738;
    color: white;
    text-decoration: none;
    border: solid white 1px;
    border-radius: 5px;
    padding: 5px; 
    margin: 5px;
}
.account-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.account-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    width:50%;
}
.account-detail  h1, .account-detail > .balance-container > h2{
    background-color: #222738;
    border-radius:15px 15px 0px 0px;
    color:white;
}
.account-detail > h1{
    width: 100%;
    text-align: center;
    padding:5px;
}
.balance-container{
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    border-radius: 15px;
    border-collapse: collapse;
    width: auto;
    margin:5px;
}
.balance-container h2{
    width:100%;
    padding:10px;
    border: solid #222738 2px;
}
.balance-container p{
    border: solid #222738 2px;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    width:100%;
    height:100%;
}
.account-container .buttons{
    display:flex;

}
.account-container form{
    padding:5px;
}
.account-container .buttons input{
    padding:5px;
    text-align: center;
    width:100%;
    border:none;
    color:white;
}
.account-container .buttons input#add{
    background-color:green;
}
.account-container .buttons input#delete{
    background-color:red;
}
.account-container .buttons input#review{
    background-color: gold;
}

/* TRANSFER HISTORY */

.history-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}
.history-container table{
    background-color:white;
    border-radius:15px;
}
.history-container tr + tr{
    border-top:#222738 solid 2px;
}
.history-container .sent{
    color:red;
}
.history-container .received{
    color:green;
}


/* DELETE */
.form-box#delete h1, .form-box#delete h2{
    text-align: center;
}

