
/* NAVBAR*/
.nav{
    overflow: hidden;
    background-color: #282F44;
    position: relative; 
    display:flex;
    border-bottom: solid white 2px;
}
.navlist{
    display: flex;
    flex-direction: column;
}
.navlist a:hover{
    background-color: #222738;
}
.nav .links{
    display:none;
}
.nav a,div.menu{
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.home {
    background-color: #282F44;
    color: white;
}
.home img{
    height: 104px;
    width:117px;
}
/* MENU ICON */
.menu {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: #282F44;
    position: absolute;
    
    right: 0;
    top: 0;

    margin: 30px 20px;
}
.bar1, .bar2, .bar3 {
    width: 49px;
    height: 7px;
    background-color: white;
    margin: 6px 0;
}

/* FOOTER */
.footer{
    background-color: #282F44;
}
.footer a{
    
    display: block;
    color: white;

    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
div.footer > p{
    color: white;
    padding: 14px, 16px;
}
.footer{
    text-align: center;
}

/* GRID */
div.grid{
    width:90vw;
    height:auto;
    margin:5vw;
    background-color: white;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grid > .course{
    
    padding:10px;
    margin: 10px;
    border: solid #d99c0d 5px;
    background-color:#282F44;
    color: white;
    height: 300px;
    width: 300px;
}
div.grid > a.page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 300px;
    width: 300px;
    margin: 5px;
    padding: 20px;
    color: white;
    background-color: #282F44;

    border-radius: 5%;
    border-style: solid;
    border-color: #d99c0d;
    border-width: 5px;

    text-decoration: none;
    text-align:center;
}
div.grid > a.page > .pageimg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 75%;
    aspect-ratio: 1;
}



.banner{
    width:100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}
.banner#index{
    background-image: url("../images/currency-index-image.webp");
}

.banner > h1{
    background-color: #282F44;
    color: white;
    border: solid;
    border-radius: 5%;
    border-color: white;
    padding: 20px;
    text-align: center;
    margin: auto;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: helvetica, arial, sans-serif;
}

.container{
  }
.container p{
    margin:10px;
}
.lineDivider{
    padding: 10px;  
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    background-color: #282F44;
}
.container ul{
    padding: 16px 14px;
    margin-left: 10px;
}
.container h2{
    padding: 10px 
}
.container ul > li{
    margin-left: 20px;
}
.list#learning-resources > ul{
    list-style-type:upper-alpha;
    padding: 10px;
    margin-top: 10px;
}
.list#learning-resources > ul  ul{
    list-style-type: lower-roman;
    margin: 10px;
}
div.container{
    background-color: #434252;
}

div.sideContainer{
    display:flex; 
    flex-direction: column;
    size: 100%; 
}
.sideContainer ul{
    list-style-type: none;
    background-color:#434252;
}
.sideContainer li{
    
    background-color: #282F44;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
}

form{
    padding: 20px;
    margin: 10px;
    background-color: #282F44;
    display: flex;
    vertical-align: middle;
}
form h2{
    color:white;
}
form input{
    margin-left: 20px;
    height:30px;
    width: 175px;
}
form button{
    height:34px;
    width: 75px;
    border-color:solid #282F44 2px;
}
.login-container{
    background-color:#434252;
    align-items: center;
    justify-content: center;
    display:flex;
    width:100%;
    height:80vh;
}
.login-box{
    background-color: #282F44;
    border-radius: 5px;
    border: solid white 2px;
    padding: 100px;
    width: 200px;
    height:200px;
}